*.[oa]
*~
*.pyc
*.swk
*.swl
*.swn
*.swm
*.swo
*.swp
*.bin
*.gem
*.config
.DS_Store
.idea

_babelcache.json
hash.json

npm-debug.log
node_modules/*
config/local*.*
config/test*
npm-shrinkwrap.json

static
