<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-store">
        <title>markdown list</title>
        <link rel="stylesheet" href="/statics/css/global.css">
        <link rel="stylesheet" href="/statics/css/list.css">
    </head>
    <body>
        <a class='new-md' href="/edit/<%- Date.now() + '.md' %>">new markdown</a>
        <div class="list-wrapper">
            <% for(var i = 0 ; i < files.length ; i ++) { file = files[i] %>
                <div class="item">
                    <p><a href="/edit/<%- file.trim() %>"><%- file %></a></p>
                </div>
            <% } %>
        </div>
    </body>
</html>
