.wrapper {
    height: 100%;
}
.wrapper > div {
    height: 100%;
}
.wrapper {
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
}
.wrapper > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.wrapper > .left {
    border-right: 1px solid #ccc;
}

.filename {
    height: 60px;
    border-bottom: 1px solid #ccc;
    line-height: 60px;
    padding-left: 20px;
    font-size: 22px;
}

.filecontent {
    padding: 10px;
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 14px;
}

.preview {
    padding: 10px;
}
